@media (max-width: 768px) {
  main {
    display: block;
    justify-content: center;
    align-items: center;
    width: 438px;
    height: 760px;
    position: relative;
  }

  #img-lateral {
    width: 438px;
    border-radius: 20px 20px 0 0;
  }

  .container-informacao {
    width: 300px;
    margin-right: 100px;
    position: absolute;
    right: -10px;
  }

  #texto {
    height: 290px;
    width: 380px;
  }

  .container-info-button {
    width: 380px;
    padding-right: 40px;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    position: relative;
  }

  #button-share {
    margin-top: 15px;
  }

  .balao {
    position: absolute;
    bottom: 10px;
    top: 680px;
    left: 1px;
    width: 408px;
    height: 80px;
    border-radius: 0px 0px 20px 20px;
  }

  .balao::after {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  #attribution {
    top: 765px;
    left: 70px;
  }
}

@media (max-width: 375px) {
  main {
    width: 360px;
    height: 660px;
  }

  #img-lateral {
    width: 360px;
  }

  .container-informacao {
    width: 300px;
    right: -80px;
  }

  #texto {
    height: 290px;
    width: 340px;
  }

  .container-info-button {
    width: 330px;
    margin-top: 10px;
  }

  .balao {
    bottom: 10px;
    top: 580px;
    left: 1px;
    width: 330px;
    height: 80px;
  }
}
