@media (max-width: 768px) {
  main {
    display: block;
    justify-content: center;
    align-items: center;
    width: 438px;
    height: 735px;
    position: relative;
  }

  #img-lateral {
    width: 438px;
    height: 55vh;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
  }

  .container-informacao {
    width: 300px;
    margin-right: 100px;
    margin-top: 0;
    position: absolute;
    right: -10px;
  }

  #texto {
    height: 290px;
    width: 380px;
  }

  .container-info-button {
    width: 380px;
    padding-right: 40px;

    display: flex;
    justify-content: space-between;
    position: relative;
  }

  #button-share {
    margin-top: 15px;
  }

  .balao {
    position: absolute;
    bottom: 10px;
    top: 650px;
    left: 1px;
    width: 408px;
    height: 85px;
    border-radius: 0px 0px 20px 20px;
  }

  .balao::after {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  #attribution {
    top: 750px;
    left: 70px;
  }
}

@media (max-width: 375px) {
  main {
    width: 340px;
    height: 685px;
  }

  #img-lateral {
    width: 340px;
    height: 45vh;
  }

  .container-informacao {
    width: 300px;
    right: -98px;
    margin-top: 0;
  }

  #texto {
    height: 290px;
    width: 320px;
  }

  .container-info-button {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 15px;
  }

  .balao {
    bottom: 10px;
    top: 595px;
    left: 1px;
    width: 310px;
    height: 90px;
  }

  #attribution {
    top: 700px;
    left: 20px;
  }
}
